* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    background-color: hsl(30, 38%, 92%);
}

.container {
    max-width: 34.3rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

.container_left {
    background: url("images/image-product-mobile.jpg") 100% no-repeat;
    background-size: cover;
    width: 100%;
    height: 24rem;
    border-radius: 10px 10px 0 0;
}

.container_right {
    background-color: hsl(0, 0%, 100%);
    padding: 2.4rem;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product_type {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
} 

.product_name {
    margin: 1.2rem 0 1.2rem;
    font-family: "Fraunces", serif;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.2rem;
    color: hsl(212, 21%, 14%);
}

.product_description {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.3rem;
    color: hsl(228, 12%, 48%);
}

.product_price {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.discounted_price {
    font-family: "Fraunces", serif;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.2rem;
    color: hsl(158, 36%, 37%);
}

.actual_price {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.3rem;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

.btn {
    height: 4.8rem;
    background: hsl(158, 36%, 37%);
    border: 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    color: hsl(0, 0%, 100%);
    font-size: 1.4rem;
    font-weight: 700;
}

.btn:hover{
    cursor: pointer;
    background-color: hsl(158, 43%, 18%);
}

.attribution { 
    font-size: clamp(0.8rem, 1vw, 2rem);
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
    position: fixed;
    bottom: 0px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
    font-weight: 500;

}



@media (min-width: 992px) {
    .container {
        max-width: 60rem;
        flex-direction: row;
       }
    
    .container_left {
        background: url("images/image-product-desktop.jpg") 100% no-repeat;
        background-size: cover;
        height: auto;
        width: 50%;
        border-radius: 10px 0 0 10px;
    }
    
    .container_right {
        border-radius: 0 10px 10px 0;
        width: 50%;
        padding: 3.2rem;
    }
    .product_type {
        margin: 2rem 0 1rem;
    }
    .product_name {
        margin: 1rem 0 1rem;
    }
    .product_price {
        margin: 2rem 0 2.3rem 0;
        gap: 3rem;
    }

    .attribution {
        bottom: 20px;
    }
}